---
import OgpImage from "../assets/ogp.jpg";
import "../styles/global.css";
const { title, description, class: className } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="robots" content="noindex,nofollow" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content={title} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={new URL(OgpImage.src, Astro.url)} />
  </head>
  <body class={`${className}`}>
    <slot />
  </body>
</html>
